src/**
webview/src/**
webview/node_modules/**
webview/public/**
webview/.vscode/**
webview/.gitignore
webview/tsconfig*.json
webview/svelte.config.js
webview/tailwind.config.js
webview/postcss.config.js
webview/vite.config.ts
webview/pnpm-lock.yaml
webview/package.json
webview/README.md
webview/*.html
tsconfig.json
vitest.config.ts
eslint.config.mjs
esbuild.mjs
.gitignore
node_modules/**
pnpm-lock.yaml
**/*.map
**/*.ts
