@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-font-family);
  font-size: var(--vscode-font-size);
  font-weight: var(--vscode-font-weight);
}

body {
  margin: 0;
  padding: 0;
}
